@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.wrapper-main-page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #ffffff;
}

.wrapper-main-inner-container {
  margin: 0 auto;
  padding: 0;
  flex-grow: 1;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.navigation-button-whant-there {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  margin-left: 20px;
  padding: 9px 34px;
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
  border-radius: 4px;
}

.navigation-button-whant-there:hover {
  background-color: #615048;
}

.navigation-button-whant-there:focus {
  outline: 3px solid #83B3D3;
  background-color: #615048;
  border-radius: 4px;
} 

.button-find {
  margin: 0 auto;
  padding: 15px 160px;
  line-height: 30px;
  background-color: #756257;
  border-radius: 10px;
  border: none;
} 

.button-find:hover {
  background-color: #615048;
}

.button-find:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  width: 575px;
  height: 60px;
}

.button-find:active {
  background-color: #615048;
  color: #ffffff33;
  outline: none;
}

.hotel-card-button {
  width: 135px;
  padding-top: 9px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
  background-color: #756257;
  border-radius: 4px;
}

.button-choose {
  width: 160px;
  margin-top: 34px;
  margin-bottom: 20px;
  padding-top: 13px;
  padding-bottom: 14px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.reboot {
  color: #ffffff;
  background-color: transparent;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  border: none;
}

.indent {
  padding-left: 70px;
  padding-right: 70px;
}

.indent-advantages {
  padding-left: 75px;
  padding-right: 75px;
}

.indent-newsletter {
  margin: 0;
}

/* Pages */
/* Шапка */
.main-page-header {
  margin-bottom: -4px;
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 495px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link-main-current::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color:#756257;
  width: 68px;
}

.navigation-link-catalog-current::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color:#756257;
  width: 93px;
}

.navigation-link:active {
  color: #000000;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:hover {
  fill: #756257;
}

.navigation-user {
  justify-content: end;
  max-width: 334px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-icon:hover {
  fill:#756257;
}

.navigation-icon:focus {
  fill-opacity: 0;
}

.header-icon-1 {
  fill: #000000;
}

.header-icon-2 {
  fill: #000000;
}

.logo {
  position: relative;
  z-index: 2;
}

/* логотип на странице каталога */
.navigation-logo {
  display: block;
  margin-right: 30px;
  margin-bottom: -4px;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  padding-top: 0;
  padding-bottom: 0;
}

/* Главная страница */

.main-inner {
  background-color: #ffffff;
}

.logo-welcome {
  margin: 0 auto;
  position: relative;
  padding-top: 51px;
  padding-bottom: 25px;
  background-image: url(../images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #83B3D370;
}

.logo-welcome::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../images/divider-index-background.svg);
  width: 1200px;
  height: 57px;
  left: 0px;
  bottom: 0;
}

.image {
  display: block;
  margin: 0 auto;
  padding-bottom: 25px;
}

.first-screen {
  display: flex;
  flex-direction: column;
  padding-top: 63px;
  padding-bottom: 75px;
  margin: 0;
  background-color: #ffffff;
}  

.first-screen h2 {
  margin: 0;
  padding-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  align-items: center;
  color: #000000;
}

.line-break {
  display: inline-block;
  width: 100%;
}

.first-screen p {
  margin: 0;
  padding-bottom: 5px;
  font-size: 22px;
  line-height: 36px;
  align-items: center;
  color: #333333;
}

/* Преимущества */
/* List */
.advantages {
  margin: 0px;
  text-align: center;
} 

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  background: #83B3D31F;
}

.blue-white {
  display: flex;
  width: 1200px;
  background: #83B3D3;
}

.bridge {
  display: flex;
  width: 1200px;
  flex-direction: row-reverse;
  color: #FFFFFF;
  background: #83B3D3;
}

.two-reason {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1200px;
  padding: 97px 90px 87px 90px;
  color: #FFFFFF;
  background: #83B3D3;
}

.advantages-first-reason {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.advantages-second-reason {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.advantages-list-2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
} 

.advantages-item-2 {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  color: #333333;
  background: #83B3D31F;
}

.three-submenu {
  padding: 91px 75px 80px 75px;
}

.three-submenu::before {
  content: '';
  display: block;
  margin: 0 auto 26px;
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
}

.house::before {
  background-image: url(../images/icon/icon-house.svg);
}

.food::before {
  background-image: url(../images/icon/icon-food.svg);
  width: 74px;
  height: 70px;
}

.souvenir::before {
  background-image: url(../images/icon/icon-souvenir.svg);
  width: 64px;
  height: 76px;
}

.three-reason:nth-child(2n) {
  background: #FFFFFF;
}

.last-three-reason {
  padding: 98px 75px 108px 75px;
}

.best-reason-2:nth-child(2n) {
  background: #83B3D333;
} 

/* Title */ 

.advantages-title {
  width: 250px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title-2 {
  margin: 0;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title-3 {
  width: 160px;
  margin: 0 auto;
  padding-bottom: 29px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  position: relative;
  width: 250px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}  

.advantages-description-white {
  width: 220px;
  margin: 0 auto;
}

.number-reason {
  margin: 0;
  padding-bottom: 30px;
}

.number-reason-black {
  margin: 0;
  padding-bottom: 30px;
}

/* Рассылка */

.newsletter {
  margin: 0 auto;
  padding: 94px 70px;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #83B3D370;
}

.newsletter h3 {
  margin: 0;
  padding-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color:#ffffff;
}

.newsletter p {
  padding-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  color:#ffffff;
 }

 /* Подписка на гридах */
.newsletter-form {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 600px 200px;
  gap: 0;
  width: 800px;
}

.newsletter-button {
  height: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: -3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.newsletter-button:active {
  background-color: #68A2CA;
  color: #ffffff33;
  outline: none;

}

.field {
  padding: 0;
  margin: 0;
  width: 600px;
  height: 60px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f2f2f2;
}  

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  border: none;
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  inl
}

/* Подвал */
.page-footer {
  color: #000000;
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
 }

.page-footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social {
  display: block;
  margin-right: 18px;
  width: 210px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  list-style-type: none;
}  

.footer-social-link {
  fill: #83B3D3;

}

.footer-social-link:hover {
  fill: #68A2CA;
}

.footer-social-link:focus {
  fill:#68A2CA;
  outline: 3px solid #83B3D3;
  outline-offset: 7px;
  border-radius: 1px;
  width: 40px;
  height: 40px;
}

.footer-social-link:active {
  fill: #83B3D333;

}

.footer-social-item {
  width: 20px;
  height: 20px;
  margin-right: 29px;
}

.footer-social-list .footer-social-item a {
  color: #000000;
  text-decoration: none;
}

.contacts-subtitle {
  width: 600px;
  text-align: center;
}

.contacts-subtitle a {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

.contacts-subtitle a:hover {
  color: #756257;
}

.contacts-subtitle a:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  outline-offset: 9px;
  border-radius: 3px;
  align-items: center;
}

.contacts-subtitle a:active {
  color: #75625733;
}

.footer-logo-htmlacademy {
  width: 175px;
  margin-left: 53px;
}

.footer-logo-htmlacademy p {
  margin: 0;
  padding-left: 60px;
}

.htmlacademy-link {
  fill: #000000;
  background-color: #ffffff;
}

.htmlacademy-link:hover {
  fill: #756257;
}

.htmlacademy-link:focus {
  fill:#756257;
  outline: 3px solid #83B3D3;
  outline-offset: 13px;
  border-radius: 1px;
  width: 115px;
  height: 34px;
}

.htmlacademy-link:active {
  fill: #75625733;
}

/* Страница каталога */

.inner-header-filter {
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 83px;
  color: #ffffff;
  background-image: url("../images/catalog-background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #83B3D370;
}

.filter-find-hotel {
  display: flex;
  margin: 45px 0 0 0;
  padding: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.structure {
  width: 150px;
  margin-right: 67px;
}

.dwelling {
  width: 145px;
  margin-right: 167px;
}

.housing-cost {
  width: 287px;
  margin-right: 81px;
}

.catalog-filter {
  display: flex;
  width: 1056px;
  color: #ffffff;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.cost-selection {
  display: flex;
  flex-wrap: wrap;
  width: 287px;
}

.min-cost {
  width: 143px;
  padding-top: 14px;
  padding-bottom: 11px;
  margin-bottom: 32px;
}

.max-cost {
  width: 144px;
  padding-top: 14px;
  padding-bottom: 11px;
  margin-bottom: 32px;
}

input[type="range"] {
  width: 287px;
}

.choose {
  display: flex;
  flex-direction: column;
  width: 160px;
  padding-top: 45px;
}

.inner-header {
  width: 528px;
}

.inner-header-title {
  margin: 0; 
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  color: #242424;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

/* Link */
.breadcrumbs-link {
  margin-right: 26px;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link.house::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../images/button_house.svg);
  background-position: center;
  width: 12px;
  height: 12px;
  right: 11px;
}

.catalog-products {
  display: flex;
  flex-direction: column;
}

.catalog-column {
  width: 1057px;
  margin: 0;
}

/* Список гостиниц с фильтрами */
.catalog-filter-title {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.sorting-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 53px;
} 

.sorting-container p {
  display: flex;
  width: 420px;
  padding: 0;
  margin: 0px 90px 0px 0px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.number-of-hotel {
  padding-left: 10px;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
  color: #333333;
  background-color: inherit;
}

.button .button-in-frame {
  text-decoration: underline;
}

.select-control {
  margin: 0;
  margin-right: 81px;
  padding: 0;
  width: 287px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.card-grid-toggle svg {
  fill: #000000;
}

.card-grid-toggle-current svg {
  fill: #000000;
}

/* Поиск гостиницы */
.find-hotel-newsletter {
  margin: 0;
  padding: 0;
  color:#000000;
  background-color:#ffffff; 
  text-align: center;
}

.find-hotel {
  margin: 0;
  padding-top: 91px;
  padding-bottom: 93px;
}


.interest {
  margin: 0;
  padding-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
}

.explain {
  margin: 0;
  padding-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  color:#333333;
}

.find-hotel-one {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.find-hotel-catalog {
  display: flex;
  flex-direction: column;
}

.favourites-link {
  width: 141px;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #83b3d3;

}

.know-more {
  display: flex;
  justify-content: space-between;
}

.hotel-stars-rating {
  display: flex;
  margin: 0;
  margin-top: 16px;
  height: 37px;
}

.stars-rating {
  width: 140px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hotel-rating {
  margin: 0;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #f2f2f2;
  text-align: center;
} 

.favourites-link.current {
  background-color:#7DB54F;
}

.rating-hotel {
  background-color: #f2f2f2;
}

.catalog-pagination {
  display: flex;
  flex-direction: row;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
  text-align: center;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 15px 19px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.select-page-control {
  width: 160px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  row-gap: 18px;
  column-gap: 10px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
}

/* Item */

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.hotel-card-title {
  margin: 0;
  margin-top: 16px;
}

.hotel-card-content {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 20px;
  width: 300px;
}

.range-cost {
  display: flex;
}

.hotel-range {
  width: 133px;
  margin-right: 25px;
}

.hotel-cost {
  width: 143px;
}

.hotel-range,
.hotel-cost {
  display: flex;
  flex-direction: column;
}

.pagination-show-more {
  display: block;
  width: 620px;
  border-radius: 4px;
  margin: 30px 218px 60px 218px;
  padding: 17px 0;
  border: none;
}

.select-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 386px;
  margin: 0px;
  padding: 0;
  width: 386px;
  margin-left: auto;
}

.select-page p {
  display: flex;
  width: 175px;
  margin-right: 51px;
  line-height: 23px;
}

.newsletter-inner-page {
  margin: 0 auto;
  padding-top: 73px;
  padding-bottom: 140px;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  text-align: center;
}

.newsletter-inner-page h3 {
  margin: 0;
  padding-bottom: 46px;
  font-size: 30px;
  line-height: 36px;
  color:#000000;
}

.newsletter-inner-page p {
  margin: 0;
  padding-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}  

